<nav class="navbar" [class.open]="isMenuOpen">
  <div class="nav-container">
    <a routerLink="/" class="logo" aria-label="Zur Startseite" (click)="closeMenu()">
      <img src="/logojalud.png" alt="JALUD Logo" class="logo-img">
    </a>

    <button
      type="button"
      class="navbar-toggler"
      (click)="toggleMenu()"
      [attr.aria-expanded]="isMenuOpen"
      aria-label="Navigation ein- oder ausblenden">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <ul class="nav-menu" [class.menu-visible]="isMenuOpen">
      <li *ngFor="let item of navLinks">
        <a [routerLink]="item.link" [fragment]="item.fragment" (click)="closeMenu()">
          {{ item.label }}
        </a>
      </li>
      <li class="nav-dropdown" [class.open]="isLegalOpen">
        <button
          type="button"
          class="dropdown-toggle"
          (click)="toggleLegal()"
          [attr.aria-expanded]="isLegalOpen">
          Rechtliches
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let item of legalLinks">
            <a [routerLink]="item.link" (click)="closeMenu()">{{ item.label }}</a>
          </li>
        </ul>
      </li>
      <li class="nav-cta">
        <a class="cta-btn" routerLink="/" fragment="kontakt" (click)="closeMenu()">
          Jetzt Termin sichern
        </a>
      </li>
    </ul>
  </div>
</nav>
